<B>INPUT OUTPUT </B>

In [1]:
bil1 = input ('isikan bilangan ke-1 = ')
bil2 = input ('isikan bilangan ke-2 = ')
hasil = int (bil1) + int (bil2)
print ("hasil dari", bil1, " + ",bil2, "= ",hasil)

isikan bilangan ke-1 = 1
isikan bilangan ke-2 = 2
hasil dari 1  +  2 =  3

<b>LUAS PERSEGI PANJANG</b>

In [2]:
panjang = input ('isikan panjang = ')
lebar   = input ('isikan lebar = ')
hasil   = int (panjang) * int (lebar)
print ("hasil luas persegi panjang dengan rumus", panjang, "*", lebar, "adalah = ", hasil)

isikan panjang = 1
isikan lebar = 2
hasil luas persegi panjang dari 1 * 2 adalah =  2

<b> SEPARATOR </b>

In [1]:
print ("a","b","c","d", sep = '\n')
# SEPARATOR / PEMBATAS

a
b
c
d

<b>FORMAT INDEX </b>

In [3]:
num_1 = 8
num_2 = 10

#hasil dari 8 modulus 10 = 8
#str.format

print ('hasil dari {} modulus {} = {}'.format(num_1,num_2,num_1%num_2))

hasil dari 8 modulus 10 = 8

<b>MEMFORMAT DENGAN KEY (KUNCI)</b>

In [7]:
fname = "Rudi"
mname = "Hartono"
lname = "Darmawan"

print ('Nama anda = {1} {0} {2}'.format (fname,mname,lname))

nama anda Rudi Rudi Darmawan

<b> TANDA PENGENAL </b>

In [9]:
print ('Nama anda {nama}, nilai anda {nilai}'.format(nama="Tono", nilai=100))

nama anda Tono, nilai anda 100

<b>PENGENALAN STRING</b>

In [12]:
univ = "UNIVERSITAS NUSA PUTRA"

print('karakter pertama = ',univ[0])
print('karakter kedua = ',univ[-1])
# simbol ':' melambangkan sampaimana
print (univ[0:11])
print (univ[-5:])

karakter pertama =  U
karakter kedua =  A
UNIVERSITAS
PUTRA

<b>F string (SERING DIPAKAI)</b>

In [17]:
#tipe data string
fname = 'jatuh'
lname = 'cinta'

print (f'Orang yang sedang {fname} {lname}')

#tipe data integer
first  = 100
second = 50

print (f'hasil penjumlahan {first} + {second} = {first+second}')

Orang yang sedang jatuh cinta
hasil penjumlahan 100 + 50 = 150

<b>SPLIT</b>

In [18]:
nama  = "Andri,Budi,Cika"
nama2 = "Andri Budi Cika"
#split -> memisahkan string berdasarkan karakter tertentu
print (nama2.split())
print (nama.split (","))

#join  -> menggabungkan string kedalam kumpulan karakter
print ('@'.join (nama.split(",")))

['Andri', 'Budi', 'Cika']
['Andri', 'Budi', 'Cika']
Andri@Budi@Cika

In [30]:
#input tgl lahir -> 18/Oktober/2010
#input nama      -> Bill Gate

#output =
#Tgl : 18, Bulan : Oktober, Tahun :2010
#Nama Inisial    : BG

tgl  = input ("masukkan tanggal lahir = ")
nama = input ("masukkan nama = ")
pemisah = tgl.split("/")
print("Output : ")
print(f"Tgl : {pemisah[0]}, bulan : {pemisah[1]}, Tahun : {pemisah[2]}")
pemisah2 = nama.split()
nama_pertama = pemisah2[0]
nama_terakhir = pemisah2[1]
print(f"Nama inisial : {nama_pertama[0]+nama_terakhir[0]}")

masukkan tanggal lahir = 19/oktober/2010
masukkan nama = Bill Gate

TypeError: 'str' object is not callable